@use "sass:math";
/// @group core/mixins#microbe-absolute-square
/// @param {Number} $percent
/// @param {Bool} $set-absolute [true]
/// @example
///   @include microbe-absolute-square(54%)
///   // position: absolute;
///   // top: 27%;
///   // left: 27%;
///   // width: 54%;
///   // height: 54%;
/// @example
///   @include microbe-absolute-square(120%)
///   // position: absolute;
///   // top: -10%;
///   // left: -10%;
///   // width: 120%;
///   // height: 120%;
@mixin microbe-absolute-square($percent, $set-absolute: true) {
	@if ($set-absolute) {
		position: absolute;
	}
	top: math.div((100% - $percent), 2);
	left: math.div((100% - $percent), 2);
	width: $percent;
	height: $percent;
}
