@import '../core';

._ {
	@mixin generate() {
		&flex {
			display: microbe-important(flex);
		}

		&items-start {
			align-items: microbe-important(flex-start);
		}

		&items-end {
			align-items: microbe-important(flex-end);
		}

		&items-center {
			align-items: microbe-important(center);
		}

		&items-stretch {
			align-items: microbe-important(stretch);
		}

		&items-baseline {
			align-items: microbe-important(stretch);
		}

		&justify-start {
			justify-content: microbe-important(flex-start);
		}

		&justify-end {
			justify-content: microbe-important(flex-end);
		}

		&justify-center {
			justify-content: microbe-important(center);
		}

		&justify-between {
			justify-content: microbe-important(space-between);
		}

		&justify-around {
			justify-content: microbe-important(space-around);
		}

		&self-start {
			align-self: microbe-important(flex-start);
		}

		&self-end {
			align-self: microbe-important(flex-end);
		}

		&self-center {
			align-self: microbe-important(center);
		}

		&self-stretch {
			align-self: microbe-important(stretch);
		}

		&flex-wrap {
			flex-wrap: microbe-important(wrap);
		}

		&flex-nowrap {
			flex-wrap: microbe-important(nowrap);
		}

		&flex-column {
			flex-direction: microbe-important(column);
		}

		&flex-column-reverse {
			flex-direction: microbe-important(column-reverse);
		}

		&flex-row {
			flex-direction: microbe-important(row);
		}

		&flex-row-reverse {
			flex-direction: microbe-important(row-reverse);
		}

		&flex-grow {
			flex-grow: microbe-important(1);
		}

		&flex-nogrow {
			flex-grow: microbe-important(0);
		}

		&flex-shrink {
			flex-shrink: microbe-important(1);
		}

		&flex-noshrink {
			flex-shrink: microbe-important(0);
		}
	}

	@include generate();

	@each $breakpoint, $size in $microbe-breakpoints-map {
		@include microbe-media($size) {
			&#{$breakpoint + '\\:'} {
				@include generate();
			}
		}
	}
}
