@import '../core';

._ {
	$property: $microbe-owl-size-custom-property-name;
	@mixin generate () {
		&text-left {
			text-align: left !important;
		}

		&text-right {
			text-align: right !important;
		}

		&text-center {
			text-align: center !important;
		}

		&text-justify {
			text-align: justify !important;
		}
	}

	@include generate();

	@each $breakpoint, $size in $microbe-breakpoints-map {
		@include microbe-media($size) {
			&#{$breakpoint + '\\:'} {
				@include generate();
			}
		}
	}
}
