@import '../core';

._ {
	$property: $microbe-owl-size-custom-property-name;
	@mixin generate() {
		&text-left {
			text-align: microbe-important(left);
		}

		&text-right {
			text-align: microbe-important(right);
		}

		&text-center {
			text-align: microbe-important(center);
		}

		&text-justify {
			text-align: microbe-important(justify);
		}
	}

	@include generate();

	@each $breakpoint, $size in $microbe-breakpoints-map {
		@include microbe-media($size) {
			&#{$breakpoint + '\\:'} {
				@include generate();
			}
		}
	}
}
