html {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 2rem 0;
	background-color: #eee;
}

hr {
	border-width: 0;
	border-bottom: 1px solid currentColor;
	opacity: 0.5;
}

:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(137, 135, 255, 0.5);
}

a {
	color: rgb(0, 0, 238);
	border-radius: 4px;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: underline;
}

.set-anchor {
	text-decoration: none;
}

.center {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.block {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}
