@import '../core';

._module-grid {
	display: flex;
	flex-wrap: wrap;
	list-style: none; // reset ol and ul elements
	padding: 0;
	margin: 0;

	&--auto {
		& > * {
			flex-basis: auto;
			width: auto;
		}

		@include microbe-media(900px) {
			position: relative;
		}
	}
}

._module-cell {
	min-width: 1px; // IE fix
	box-sizing: border-box;
	list-style: none; // reset li elements
}
