@import '../core';

/// @link https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
._ {
	$property: $microbe-owl-size-custom-property-name;
	$container: $microbe-owl-classname-for-container;
	@mixin generate() {
		@each $space, $value in $microbe-spaces-map {
			&--#{$space} {
				@if ($microbe-ie-fallback == false) {
					& > * {
						#{$property}: #{$value};
					}
				} @else {
					& > * + * {
						margin-top: microbe-important($value);
					}
				}
			}
		}
	}

	&#{$container} {
		& > * {
			@if ($microbe-ie-fallback == false) {
				#{$property}: auto;
			}
			margin-top: microbe-important(0);
			margin-bottom: microbe-important(0);
		}

		@if ($microbe-ie-fallback == false) {
			& > * + * {
				margin-top: microbe-important(var(#{$property}));
			}
		}

		@include generate();
	}

	@each $breakpoint, $size in $microbe-breakpoints-map {
		@include microbe-media($size) {
			&#{$breakpoint + '\\:' + $container} {
				@include generate();
			}
		}
	}
}
