@import './functions/rem';
@import './functions/generate-vars-map';

// -----------------------------------------------------------------------------
// IE
// -----------------------------------------------------------------------------

/// Use degradation for IE support
/// - CSS Custom properties will be transformed to CSS values
/// @group core/defaults#microbe-ie-fallback
$microbe-ie-fallback: false !default;

// -----------------------------------------------------------------------------
// Spaces
// -----------------------------------------------------------------------------

/// Space size _xxs_ (xx-small)
/// @group core/defaults#microbe-space-xxs
$microbe-space-xxs: microbe-rem(2) !default;

/// Space size _xs_ (x-small)
/// @group core/defaults#microbe-space-xs
$microbe-space-xs: microbe-rem(4) !default;

/// Space size _sm_ (small)
/// @group core/defaults#microbe-space-sm
$microbe-space-sm: microbe-rem(8) !default;

/// Space size _md_ (medium)
/// @group core/defaults#microbe-space-md
$microbe-space-md: microbe-rem(12) !default;

/// Space size _df_ (default)
/// @group core/defaults#microbe-space-df
$microbe-space-df: microbe-rem(16) !default;

/// Space size _lg_ (large)
/// @group core/defaults#microbe-space-lg
$microbe-space-lg: microbe-rem(24) !default;

/// Space size _xl_ (x-large)
/// @group core/defaults#microbe-space-xl
$microbe-space-xl: microbe-rem(32) !default;

/// Space size _xxl_ (xx-large)
/// @group core/defaults#microbe-space-xxl
$microbe-space-xxl: microbe-rem(48) !default;

/// Space size _hg_ (huge)
/// @group core/defaults#microbe-space-hg
$microbe-space-hg: microbe-rem(80) !default;

/// Map with filtered space variables
/// @group core/defaults#microbe-spaces-map
$microbe-spaces-map: _microbe-generate-vars-map(spaces);

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------

/// Breakpoint screen _xxs_ (xx-small)
/// @group core/defaults#microbe-breakpoint-xxs
$microbe-breakpoint-xxs: 375px !default;

/// Breakpoint screen _xs_ (x-small)
/// @group core/defaults#microbe-breakpoint-xs
$microbe-breakpoint-xs: 480px !default;

/// Breakpoint screen _sm_ (small)
/// @group core/defaults#microbe-breakpoint-sm
$microbe-breakpoint-sm: 568px !default;

/// Breakpoint screen _md_ (medium)
/// @group core/defaults#microbe-breakpoint-md
$microbe-breakpoint-md: 768px !default;

/// Breakpoint screen _df_ (default)
/// @group core/defaults#microbe-breakpoint-df
$microbe-breakpoint-df: 1024px !default;

/// Breakpoint screen _lg_ (large)
/// @group core/defaults#microbe-breakpoint-lg
$microbe-breakpoint-lg: 1280px !default;

/// Breakpoint screen _xl_ (x-large)
/// @group core/defaults#microbe-breakpoint-xl
$microbe-breakpoint-xl: 1420px !default;

/// Breakpoint screen _xxl_ (xx-large).
/// Expected value: `1660px`
/// @group core/defaults#microbe-breakpoint-xxl
$microbe-breakpoint-xxl: NULL !default;

/// Breakpoint screen _hd_ (full-hd).
/// Expected value: `1980px`
/// @group core/defaults#microbe-breakpoint-hd
$microbe-breakpoint-hd: NULL !default;

/// Breakpoint screen _2k_.
/// Expected value: `2048px`
/// @group core/defaults#microbe-breakpoint-2k
$microbe-breakpoint-2k: NULL !default;

/// Map with filtered breakpoint variables
/// @group core/defaults#microbe-breakpoints-map
$microbe-breakpoints-map: _microbe-generate-vars-map(breakpoints);

// -----------------------------------------------------------------------------
// Module Grid
// -----------------------------------------------------------------------------

/// Columns count
/// @group core/defaults#microbe-module-grid-columns-count
/// @type {Number}
$microbe-module-grid-columns-count: 12 !default;

/// Cell positions count
/// @group core/defaults#microbe-module-cell-positions-count
/// @type {Number}
$microbe-module-cell-positions-count: 12 !default;

/// CSS Custom property name for cell width value
/// @group core/defaults#microbe-module-cell-width-custom-property-name
/// @type {String}
$microbe-module-cell-width-custom-property-name: --microbe-module-cell-width !default;
